<div class="modal-header">
  <button class="close" data-dismiss="modal">×</button>
  <center><h3>MUSIC ROOM RESERVATION-2</h3></center>
</div>
<div class="modal-body">
  <form class="form-horizontal" method="POST" action="{% url 'musicroom' %}">{% csrf_token %}
    <div class="form-group row">
      <label class="col-sm-3 control-label" for="inputname">Name</label>
      <div class="col-sm-4">          
          <input type="text" name="name" class='form-control' required placeholder="Name of the group leader"></input>
          <span class="help">Enter names of all the group members.</span>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 control-label" for="inputname">Roll No.</label>
      <div class="col-sm-4">          
        <input type="text" name='rollno' required class="input-small form-control" placeholder="Roll No."></input>
      </div>
      <div class="span2">
          <button class="btn" type="button" id="morecoord" onclick="addmembers()"><i class="glyphicon glyphicon-plus"></i>More </button>
      </div>
    </div>
    <div id="add_mem">
    </div>
      <script type="text/javascript">
      var count=0;
      function addmembers()
      {
          document.getElementById("add_mem").innerHTML +='<center><div id="addmem'+(++count).toString()+'"><hr><div class="form-group"><label class="col-sm-3" for="inputname">Name</label><div class="col-sm-4 row"><input type="text" class="form-control" name="name" required placeholder="Name"></input><button class="btn cols-sm-3" type="button" id="morecoord" onclick="removemem('+count.toString()+')"><i class="glyphicon glyphicon-minus"></i></button></div></div><div class="form-group"><label class="col-sm-3" for="inputname">Roll Number</label><div class="col-sm-4"><input type="text" class="form-control" name="name" required placeholder="Roll No."></input></div></div></div></center>';
      };
      function removemem(count1)
      {
          var rem = document.getElementById("addmem"+(count1).toString());
          rem.parentNode.removeChild(rem);
          /*'<div id="addmem'+(count--).toString()+'"<div class="control-group"><label class="control-label" for="inputname">Name</label><div class="controls row-fluid"><div class="span3"><input type="text" name="name" required placeholder="Name of the group leader"></input></div><div class="span1">Roll No.</div><div class="span2"><input type="text" name="rollno" required class="input-small" placeholder="Roll No."></input></div><div class="span2"><button class="btn" type="button" id="morecoord" onclick="removemem()"><i class="icon-minus"></i></button></div></div></div></div>';*/
      };
      </script>
    <div class="form-group ">
      <label class="control-label col-sm-3" for="inputPassword">Music Club Id </label>
      <div class="col-sm-4">
        <input type="text" id="inputPassword" class='form-control' placeholder="Ex:A35R343E4F" name="musicclubid" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3" for="inputEmail">Email</label>
      <div class="col-sm-4">
        <input type="email" id="inputEmail" class='form-control' placeholder="Email" name="email" required>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3" for="venue_select">Date</label>
      <div class="col-sm-4">
        <input name="date" type="hidden" class='form-control' id="datehidden"/>
        <input name="" type="text" class='form-control' id="datedisab" disabled/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3" for="venue_select">Slot</label>
      <div class="col-sm-4">
        <input name="slot" type="hidden" class='form-control' id="slothidden"/>
        <input name="" type="text" class='form-control' id="slotdisab" disabled/>
      </div>
    </div>
  <center>
    <a href=""><button type="submit" class="btn btn-primary">Book</button></a>
  </center>
  </form>
  <br/><br/>
</div>
